<md-content flex>
	<md-card>

		<md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Manage Users</h2>

                <span flex></span>
                <md-button class="" aria-label="Add User" href="/admin#!/add-users">Add User</md-button>
                <site-header back forward></site-header>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open()">
                        <md-icon class="material-icon">more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="" aria-label="Refresh"><md-icon class="material-icon">refresh</md-icon>Refresh</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="" aria-label="Print"><md-icon class="material-icon">print</md-icon>Print</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="" aria-label="Export to CSV"><md-icon class="material-icon">insert_drive_file</md-icon>Export CSV</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

		<md-card-content>
			<table class="table">
				<caption>table title and/or explanatory text</caption>
				<thead>
					<tr>
						<th>No.</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>Ads</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
					</tr>
					<tr>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
					</tr>
					<tr>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
					</tr>
					<tr>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
					</tr>
					<tr>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
						<td>data</td>
					</tr>
				</tbody>
			</table>
		</md-card-content>

		<pagination></pagination>

	</md-card>
</md-content>