doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title AMN Offers
		link(rel="icon" type="image/x-icon" href="/img/favicon.ico")

	body(style="margin: 0px 0px; padding: 30px 0px; width: 100%; background-color:grey; color:white;")
		div(style="width:100%")
			center
				h1 AMN Offers
				h2= message
				//- h2= error.status
			pre #{error.stack}