div(layout="row" flex="noshrink" layout-align="center center" style="background: #4e4e4e;color: white;")
	div(id="license-footer" flex) &copy; Designed and Developed 2017 by 
		a(ng-href="" class="md-primary")
			md-tooltip(md-delay="400" md-direction="top" md-autohide="true") Developed by me
			strong AMEEN

md-button(class="md-fab md-fab-bottom-right docs-scroll-fab" docs-scroll-class="scrolling" ng-click="scrollTop()" aria-label="Back to Top")
	md-tooltip(md-direction="top") Back to Top
	md-icon(class="material-icon") keyboard_arrow_up