md-toolbar(class="md-whiteframe-glow-z1" md-colors="{backgroundColor: 'default-primary-500'}")
	div(class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1")

		div(layout="row" flex="auto" class="fill-height")
			h2(class="hide-xs md-toolbar-item md-headline") Live Feeds
			h2(class="hide-gt-xs md-toolbar-item md-headline") LF
			span(flex)

			md-button(href="/#!/" class="md-icon-button" aria-label="Home")
				md-tooltip Home Page
				md-icon(class="material-icon" style="color: #fff !important;" ) home
			md-button(href="/#!/portfolio" class="md-icon-button" aria-label="portfolio")
				md-tooltip Portfolio
				md-icon(class="material-icon" style="color: #fff !important;" ) view_carousel
			md-button(href="/#!/service" class="md-icon-button" aria-label="service")
				md-tooltip Service LiveFeed
				md-icon(class="material-icon" style="color: #fff !important;" ) timeline
			md-button(href="/#!/contact" class="md-icon-button" aria-label="contact")
				md-tooltip Contact Me
				md-icon(class="material-icon" style="color: #fff !important;" ) perm_phone_msg

			md-menu(md-position-mode="target-right target" ng-if="isAuth.auth")
				md-button(aria-label="profile" class="md-icon-button" ng-click="$mdMenu.open()")
					md-icon(md-menu-origin class="material-icon" style="color: #fff !important;" ) account_circle
				md-menu-content(width="4")
					md-menu-item
						md-button(href="./{{ isAuth.user.usermode }}/#!/")
							div(layout="row" flex)
								p(flex) Account
								md-icon(md-menu-align-target class="material-icon") account_circle
					md-menu-item
						md-button(disabled="disabled" ng-click="")
							div(layout="row" flex)
								p(flex) Settings
								md-icon(md-menu-align-target class="material-icon") settings
					md-menu-divider
					md-menu-item
						md-button(ng-click="appLogout()")
							div(layout="row" flex)
								p(flex) Logout
								md-icon(md-menu-align-target class="material-icon") power_settings_new